/.metadata/
/BookExchangeDatabase/bin/
/BookExchangeDatabaseClient/bin/
/BookExchangeDatabaseServer/bin/
/UnitTesting/bin/
/RemoteSystemsTempFiles/
/database_console/build/
/database_console/nbproject/